<footer class="footer bg-dark py-3" style="position: fixed; bottom: 0; left: 0; right: 0; z-index: 1000;">
    <div class="container">
        <span class="text-muted">&copy; Erehwon 2025</span>
    </div>
</footer>